.about{
    margin-top: 75px;
    opacity: 0;
    transition: 2s;
}

.about--showIt{
  opacity: 1;
}

.aboutMWrap{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  @include mq(large){
  }
}

.aboutM--start{
  .aboutM__text--start{
    text-align: center;
  }
}

.aboutM{
  position: relative;
  top:0;
  margin: 100px 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s linear;
  @include mq(xsmall){
  }
  @include mq(large){
    margin: 25px 0px;
    display: flex;
    flex-direction: row;
    &:nth-child(odd){
      flex-direction: row-reverse;
    }
  }
  &__headingContainer{
    position: relative;
    top:20px;
    width:100%;
    height: 50px;
    transition: 0.5s 0.5s linear;
    opacity:0;
    &--currentToShow{
      opacity: 1;
      top:0
    }
    @include mq(large){
      &--currentToShow{
        opacity: 1;
        top:0
      }
      clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
      width:500px;
      height:500px;
      margin: auto;
      background-color: #222;
      z-index: 1;
      &:after{
        content: '';
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        background-color:black;
        width:495px;
        height: 495px;
        clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
        z-index: -1;
      }
    }
    @include mq(xlarge){
      width:600px;
      height:600px;
      &:after{
        width:595px;
        height: 595px;
      }
    }
  }
  &__img{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: none;
    width: 50px;
    opacity: 0.1;
    margin:0 auto;
  }
  &__title{
    position: absolute;
    top:0;
    left:50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 3rem;
    font-family: $default-font;
    color:#555;
    white-space: pre;
    @include mq(xsmall){
      font-size:5rem;
    }
    @include mq(large){
      top:45%;
      left:50%;
      font-size: 4.75rem;
      animation: none;
      letter-spacing: 10px;
    }
    @include mq(xlarge){
      font-size: 5.5rem;
    }
  }
  &__titleFront{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    font-size: 2rem;
    font-family: $default-font;
    color:white;
    text-align: center;
    letter-spacing: 5px;
    animation: mainText 1s linear infinite;
    @include mq(xsmall){
      font-size:3rem;
    }
    @include mq(large){
      top:50%;
      left:50%;
      font-size: 5rem;
    }
  }
  &__text{
    position: relative;
    top:-20px;
    color:white;
    line-height: 23px;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: $special-font;
    max-width: 400px;
    margin: 10px auto;
    text-align: center;
    padding:0 35px;
    opacity:0;
    transition: 0.5s 0.5s linear;
    &--currentToShow{
      opacity: 1;
      top:0;
    }
    @include mq(xsmall){
      font-size:1.8rem;
      line-height: 25px;
    }
    @include mq(large){
      align-self: center;
      line-height: 30px;
      padding:0 45px;
    }
    strong{
      a{
      letter-spacing: 5px;
      color: #bbb;
      cursor: pointer;
      margin-left: 5px;
      font-family: $default-font;
      font-size: 1.7rem;
      text-decoration: none;
      transition: 0.2s;
      @include mq(small){
        font-size:2rem;
       }
       @include mq(large){
         &:hover{
           color:white;
         }
       }
      }
    }
    .aboutM__hi{
      display: block;
      font-size: 3rem;
      margin-bottom: 8px;
      @include mq(medium){
        font-size: 4rem;
      }
      @include mq(large){
        font-size: 5rem;
        margin-bottom: 12px;
      }
    }
  }
}

.bars__itemAbout{
  @include barsContainer;
  background-color: #000;
  position: fixed;
  z-index: -999;
}

.bars__textAbout{
@include barsText;
color: #222;
@include mq(large){
  color:#111;
}
}

//Navigations 

.navigationAbout{
  position: fixed;
  top:50%;
  right:-25px;
  transform: translate(-50%,-50%);
  width:50px;
  @include mq(medium){
    right:5px;
  }
  &__list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
  }
  &__listItem{
    width:15px;
    height: 15px;
    border-radius: 50%;
    border:1px solid white;
    background-color: #333;
    margin: 15px auto;
    transition: 1s cubic-bezier(0.680, -0.550, 0.265, 1.550);
    cursor: pointer;
    @include mq(medium){
      width:25px;
      height: 25px;
    }
    &:hover{
      @include mq(large){
        background-color: #eee;
        border:1px black solid;
        border-radius: 0%;
        transform: rotate(-135deg);
      }
    }
    &--active{
      background-color: #eee;
      border:1px black solid;
      border-radius: 0%;
      transform: rotate(-135deg);
    }
  }
}

.aboutM{
  &__icons{
    list-style:none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin:20px 0px;
    li{
      font-size: 4.5rem;
      margin: 10px 5px;
      @include mq(xsmall){
        font-size: 6.5rem;
      }
      @include mq(large){
        font-size: 7.5rem;
      }
    }
  }
  &__nameIcons{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  &__iconsItem{
    font-size: 1.7rem;
    margin:10px;
    line-height: 20px;
    font-family: $special-font;
    @include mq(xsmall){
      font-size: 2.5rem;
    }
  }
}

.aboutM__titleFront:before{
@include beforeValue;
  animation: before 1.3s linear infinite;
}

.aboutM__titleFront:after{
@include afterValue;
  animation: after 1.5s linear infinite;
}

@keyframes before {
  0%{
   transform: translate(2px,-2px);
   @include mq(large){
    transform: translate(4px,-4px);
   }
  }
  97%{
    transform: translate(-2px,2px);
    @include mq(large){
      transform: translate(-4px,4px);
    }
  }
  100%{
    transform: translate(15px,-1px) skew(-13deg);
    @include mq(large){
      transform: translate(25px,-2px) skew(-18deg);
    }
   }
}

@keyframes after {
  0%{
   transform: translate(-2px, 0px);
   @include mq(large){
    transform: translate(-4px, 0px);
   }
  }
  97%{
    transform: translate(-2px, 0px);
    @include mq(large){
      transform: translate(-4px, 0px);
    }
  }
  100%{
    transform: translate(-22px, 3px) skew(21deg);
    @include mq(large){
      transform: translate(-32px, 6px) skew(25deg);
    }
   }
}

@keyframes mainText{
  0%{
    transform: translateX(2px), translate(-50%,-50%);
    @include mq(large){
      transform: translateX(4px), translate(-50%,-50%);
    }
   }
   97%{
     transform: translateX(-2px) translate(-50%,-50%) skew(-2deg);
     @include mq(large){
      transform: translateX(-4px), translate(-50%,-50%);
     }
   }
   100%{
     transform: translateX(22px) translate(-50%,-50%) skew(5deg);
     @include mq(large){
      transform: translateX(32px) translate(-50%,-50%) skew(10deg);
     }
    }
 }
