.bars{
    display: flex;
    flex-direction: column;
    &__item{
        @include barsContainer;
        color:#fff;
        @include mq(large){
            &:hover{
                background-color: #000;
                color:#fff;
            }
            &:hover .bars__text{
            z-index: 0;
            color: #222
            }
          }
    }
    &__text{
       @include barsText;
       z-index: 0;
        color: #ccc;
        @include mq(large){
            color: #222;
            z-index: 1;
        }
    }
    &__textUnder{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        height: 100px;
        font-size: 3.5rem;
        font-family: 'IM Fell DW Pica';
        white-space: pre;
        margin:0px auto;
        color: #000;
        text-decoration: none;
        transition: 0.2s;
        @include mq(medium){
            font-size: 5rem;
            letter-spacing: 3px;
          }
          @include mq(large){
            color: #fff;
          }
          @include mq(xlarge){
            font-size: 7.5rem;
            letter-spacing: 5px;
          }
        
    }
    &__text--reverse{
        animation: textReverse 35s linear infinite;
        left:0;
        @include mq(large){
            animation: textReverse 25s linear infinite;
        }
    }
}

@keyframes text {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-1500px);
    }
    50.1%{
        transform: translateX(-1500px);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes textReverse {
    0%{
        transform: translateX(-1500px);
    }
    50%{
        transform: translateX(0);
    }
    50.1%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-1500px);
    }
}