.contact{
    margin-top: 75px;
    opacity: 0;
    transition: 1s;
    &--showIt{
      opacity: 1;
    }
}

.bars__itemContact{
  @include barsContainer;
  background-color: #000;
}

.bars__textContact{
@include barsText;
color: #fff;
}