.cubeWrap {
    perspective: 1000px;
    perspective-origin: 50% 50%;
    position: relative;
    top:130%;
    left:50%;
    transform: translate(-50%,-50%);
    transition: 0.4s ;
    &--onPosition{
      top:50%;
    }
  }

  .cube {
    margin: auto;
    position: relative;
    height: 150px;
    width: 150px;
    transform-style: preserve-3d;
    transition: 0.8s;
    transform: rotateX(-180deg) rotateY(-45deg);
    &--frontCube{
      animation: rotateLogo 8s 2s linear infinite;
        transform: rotateX(-35deg) rotateY(-45deg);
    }
    @include mq(medium){
      height: 200px;
      width: 200px;
    }
  }
  
  .cube > div {
    position: absolute;
    box-sizing: border-box;
    padding: 10px;
    height: 150px;
    width: 150px;
    color: #ffffff;
    outline: none;
    border:none;
    @include mq(medium){
      height: 200px;
      width: 200px;
    }
  }

  .cube__front {
      
    transform: translateZ(75px);
    background-color: white;
    position: relative;
    @include mq(medium){
    transform: translateZ(100px);
    }
  }
  
  .cube__back {
    transform: translateZ(-75px) rotateY(180deg);
    background-color: white;
    @include mq(medium){
    transform: translateZ(-100px) rotateY(180deg);  
    }
  }
  
  .cube__right {
    transform: rotateY(-270deg) translateX(75px);
    transform-origin: top right;
    background-color: #fff;
    position: relative;
    transition: animation 2s;
    @include mq(medium){
    transform: rotateY(-270deg) translateX(100px);  
    }
    &--on{
        background-color: #ccc;
        animation: gradient 8s 2s linear infinite;
    }
  }
  
  .cube__left {
    transform: rotateY(270deg) translateX(-75px);
    transform-origin: center left;
    background-color:white;
    @include mq(medium){
    transform: rotateY(270deg) translateX(-100px);  
    }
  }
  
  .cube__top {
    transform: rotateX(-270deg) translateY(-75px);
    transform-origin: top center;
    background-color:white;
    @include mq(medium){
    transform: rotateX(-270deg) translateY(-100px);  
    }
  }
  
  .cube__bottom {
    transform: rotateX(270deg) translateY(75px);
    transform-origin: bottom center;
    background-color: white;
    @include mq(medium){
    transform: rotateX(270deg) translateY(100px);   
    }
  }

  div.blackLeft{
   position: absolute;
   top:0;
   right:-0.2%;
   width:80%;
   height: 80%;
   border-top:50px solid #fff;
   border-left:55px solid #fff;
   background-color: #fff;
   transition: 1s;
   &--on{
    border-top:50px solid #000;
    border-left:55px solid #000;
   }
   @include mq(medium){
    border-top:60px solid #fff;
    border-left:65px solid #fff;
    &--on{
      border-top:60px solid #000;
      border-left:65px solid #000;
     }
   }
  }

  div.blackRight{
    position: absolute;
    top:0;
    left:-0.2%;
    width:80%;
    height: 80%;
    border-top:50px solid #fff;
    border-right:55px solid #fff;
    background-color: transparent;
    transition: 1s;
    &--on{
        border-top:50px solid #000;
        border-right:55px solid #000;
    }
    @include mq(medium){
      border-top:60px solid #fff;
      border-right:65px solid #fff;
      &--on{
        border-top:60px solid #000;
        border-right:65px solid #000;
    }
    }
   }



   @keyframes rotateLogo{
       0%{
        transform: rotateX(-35deg) rotateY(-45deg);
       }

       25%{
        transform: rotateX(-35deg) rotateY(-41deg);
       }
       25.1%{
        transform: rotateX(-35deg) rotateY(-41deg);
       }
       50%{
        transform: rotateX(-35deg) rotateY(-45deg);
       }
       50.1%{
        transform: rotateX(-35deg) rotateY(-45deg);
       }
       75%{
        transform: rotateX(-35deg) rotateY(-49deg);
       }
       75.1%{
        transform: rotateX(-35deg) rotateY(-49deg);   
       }
       100%{
        transform: rotateX(-35deg) rotateY(-45deg);
       }
   }

   @keyframes gradient{
    0%{
     
     background-color: #ccc;
    }

    25%{
     
     background-color: #999;
    }
    25.1%{
     
     background-color: #999;
    }
    50%{
     
     background-color: #ccc;
    }
    50.1%{
     
     background-color: #ccc;
    }
    75%{
     
     background-color: #fff;
    }
    75.1%{
    
     background-color: #fff; 
    }
    100%{
     
     background-color: #ccc;
    }
}
