.gallery{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    height: 500px;
    background-color: #000;
    border-top: 1px solid #222;
    border-bottom:1px solid #222;
    overflow: hidden;
    &__passion{
        display: flex;
        justify-content: space-evenly;
    }
    &__text{
       color:white;
       transform: translateX(0);
       align-self: center;
       font-family: $default-font;
       font-weight: 500;
       height: 100px;
    }
    .fas, .fab{
        font-size: 90px;
        color: #ddd;
    }
}

.gallery__passion{
animation: textGallery 1.5s step-start infinite both;
}

.gallery__heart{
animation: textGallery 1.5s 1s step-start infinite both;
margin:50px 0px;
}

.gallery__obstinancy{
animation: textGallery 1.5s 1.5s step-start infinite both;
}

.wrapDuplicate{
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    top:50%;
    left:45%;
    transform: translate(-50%,-50%);
    @include mq(medium){
        display: inherit;
        position: static;
        transform: translate(0px, 0px);
        top:0;
        left:0;
    }
}


.gallery__passion.duplicate {
position: relative;
left:-10%;
animation: textGallery 2.7s step-start infinite both;
}
    
.gallery__heart.duplicate{
position: relative;
left: -215%;
animation: textGallery 2.3s 0.8s step-start infinite both;
}
    
.gallery__obstinancy.duplicate{
position: relative;
left: -5%;
animation: textGallery 2.8s 2s step-start infinite both;
}

@include mq(large){
    .gallery:hover .gallery__passion,
    .gallery:hover .gallery__heart,
    .gallery:hover .gallery__obstinancy{
      animation-duration: 7s;
    }

    .gallery:hover .gallery__passion.duplicate,
    .gallery:hover .gallery__heart.duplicate,
    .gallery:hover .gallery__obstinancy.duplicate{
        animation-duration: 9s;
    }
}

@keyframes textGallery{
    0%{
        letter-spacing: 0px;
        text-shadow: 30px 10px #222;
        font-size: 3rem;
        transform:translateX(13px);
    }
    10%{
        letter-spacing: 0px;
        text-shadow: 35px 35px #222;
        transform:translateX(0px);
    }
    20%{
        letter-spacing: 2px;
        text-shadow: 45px -55px #222;
        transform:translateX(8px);
    }
    30%{
        letter-spacing: 5px;
        text-shadow: -55px -25px #222;
        transform:translateX(-18px);
    }
    40%{
        letter-spacing: 6px;
        text-shadow: 45px 65px #222;
        transform:translateX(18px);
    }
    50%{
        letter-spacing: 1px;
        text-shadow: -55px 65px #222;
        transform:translateX(0px);
    }
    60%{
        letter-spacing: 2px;
        text-shadow: -25px -75px #222;
        transform:translateX(23px);
    }
    70%{
        letter-spacing: 12px;
        text-shadow: 0px -45px #222;
        font-size: 4rem;
        transform:translateX(28px);
    }
    80%{
        letter-spacing: 6px;
        text-shadow: 0px 35px #222;
        font-size: 7.5rem;
        transform:translateX(0px);
    }
    90%{
        letter-spacing: 8px;
        text-shadow: -55px 0px #222;
        font-size: 2.5rem;
        transform:translateX(-18px);
    }
    100%{
        letter-spacing: 10px;
        text-shadow: 35px 0px #222;
        font-size: 3.5rem;
        transform:translateX(0px);
    }
}

@include mq(medium){
    @keyframes textGallery{
        0%{
            letter-spacing: 0px;
            text-shadow: 60px 20px #222;
            font-size: 5rem;
            transform:translateX(288px);
            opacity: 1;
        }
        10%{
            letter-spacing: 0px;
            text-shadow: 70px 70px #222;
            transform:translateX(0px);
            opacity: 0.7;
        }
        20%{
            letter-spacing: 2px;
            text-shadow: 90px -110px #222;
            transform:translateX(136px);
            opacity: 0;
        }
        30%{
            letter-spacing: 5px;
            text-shadow: -110px -50px #222;
            transform:translateX(-254px);
            opacity: 1;
        }
        40%{
            letter-spacing: 6px;
            text-shadow: 90px 130px #222;
            transform:translateX(264px);
            opacity: 0.4;
        }
        50%{
            letter-spacing: 1px;
            text-shadow: -110px 130px #222;
            transform:translateX(0px);
            opacity: 1;
        }
        60%{
            letter-spacing: 2px;
            text-shadow: -50px -150px #222;
            transform:translateX(332px);
            opacity: 0.5;
        }
        70%{
            letter-spacing: 12px;
            text-shadow: 0px -90px #222;
            font-size: 7rem;
            transform:translateX(400px);
            opacity:0.9
        }
        80%{
            letter-spacing: 6px;
            text-shadow: 0px 70px #222;
            font-size: 13rem;
            transform:translateX(0px);
            opacity: 1;
        }
        90%{
            letter-spacing: 8px;
            text-shadow: -110px 0px #222;
            font-size: 4rem;
            transform:translateX(-264px);
            opacity: 0.3;
        }
        100%{
            letter-spacing: 10px;
            text-shadow: 70px 0px #222;
            font-size: 6rem;
            transform:translateX(0px);
            opacity: 1;
        }
    }
}