.introLogo{
    position: relative;
    top:300px;
    transform: rotateY(0deg);

    background-position: center;
    background-repeat: no-repeat;
    width:100%;
    height:100vh;
    overflow: hidden;
    transition: 0.5s;
    &--onTop{
      top:0;
      transform: rotateY(360deg);
    }
    @include mq(medium){
        background-size: 40%;
        // background-image: url('../IMG/LogoLargeSize.png');
      }
    @include mq(large){
      background-size: 30%;
    }
}

.header{
  position: relative;
}

.coverH{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:100%;
  height: 100%;
  opacity: 0;
  background-color: black;
  z-index: 1;
  transition: 0.2s linear;
}