.nav{
    position: fixed;
    top:0;
    left:0;
    background-color: rgb(0,0,0);
    width:100%;
    height: 60px;
    padding:15px 5px;
    z-index: 2;
    &__ul{
     display: flex;
     justify-content: space-evenly;
     width:100%;
     padding:0px 17px;
    }
    &__li{
        list-style: none;
        align-self: center;
    }
    &__link{
      font-size: 1.4rem;
      color:#ccc;
      font-family: 'IM Fell DW Pica';
      letter-spacing: 1px;
      cursor: pointer;
      transition: 0.1s linear;
      text-decoration: none;
      transition: 0.3s;
      @include mq(large){
        &:hover{
          color: #fff;
          text-shadow: -35px -15px #444;
        }
      }
      @include mq(xsmall){
        font-size: 1.8rem ;
        letter-spacing: 2px;
      }
      @include mq(medium){
        font-size: 2rem;
        letter-spacing: 3px;
      }
      @include mq(large){
        height: 150px;
      }
    }
    &__smallLogo{
        margin-right: 10px;
        margin-left:2px;
        width: 30px;
        @include mq(large){
          width: 40px;
        }
    }
}