.nav{
    position: fixed;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.75);
    width:100%;
    padding:5px 5px;
    z-index: 2;
    @include mq(large){
      padding:10px 5px;
    }
    &__ul{
     display: flex;
     justify-content: space-around;
    }
    &__li{
        list-style: none;
        align-self: center;
    }
    &__link{
      font-size: 1.4rem;
      color:#ccc;
      font-family: 'IM Fell DW Pica';
      letter-spacing: 1px;
      cursor: pointer;
      text-decoration: none;
      transition: 0.2s;
      @include mq(xsmall){
        font-size: 1.8rem ;
        letter-spacing: 2px;
      }
      @include mq(medium){
        font-size: 2rem;
        letter-spacing: 3px;
      }
      @include mq(large){
        font-size: 2.3rem;
        &:hover{
          text-shadow: -35px -20px #555;
        }
      }
      @include mq(xlarge){
        font-size:2.5rem;
      }
    }
    &__smallLogo{
        width: 45px;
        transition: 0.1s;
        outline: none;
        @include mq(large){
          width: 55px;
        }
    }
}