.portfolio{
    margin-top: 75px;
    opacity: 0;
    transition: 1s;
    &--showIt{
      opacity: 1;
    }
}

.bars__itemPortfolio{
  @include barsContainer;
  background-color: #000;
}

.bars__textPortfolio{
@include barsText;
color: #fff;
}