.technology{
    margin-top: 75px;
    opacity: 0;
    transition: 2s;
}

.technology--showIt{
  opacity: 1;
}

.bars__itemTechnology{
  @include barsContainer;
  background-color: #000;
}

.bars__textTechnology{
@include barsText;
color: #fff;
}