@font-face{
    font-family: myFont;
    src:url('../fonts/Azonix.otf')
}

@font-face{
    font-family: mySpecialFont;
    src:url('../fonts//gilroy-light.otf')
}

$default-font: myFont;
$special-font: mySpecialFont;


