* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 10px;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

body {
  background-color: #000;
}

.homePage {
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.homePage--showIt {
  opacity: 1;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

*::-moz-selection {
  color: darkcyan;
  background-color: #000;
}

*::selection {
  color: darkcyan;
  background-color: #000;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 60px;
  padding: 15px 5px;
  z-index: 2;
}

.nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  padding: 0px 17px;
}

@media (min-width: 1024px) {
  .nav__ul {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
}

.nav__li {
  list-style: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav__link {
  font-size: 1.4rem;
  color: #ccc;
  font-family: 'IM Fell DW Pica';
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (min-width: 1024px) {
  .nav__link:hover {
    color: #fff;
    text-shadow: -35px -15px #444;
  }
}

@media (min-width: 460px) {
  .nav__link {
    font-size: 1.8rem;
    letter-spacing: 2px;
  }
}

@media (min-width: 800px) {
  .nav__link {
    font-size: 2rem;
    letter-spacing: 3px;
  }
}

@media (min-width: 1024px) {
  .nav__link {
    height: 150px;
  }
}

.nav__smallLogo {
  margin-right: 10px;
  margin-left: 2px;
  width: 30px;
}

@media (min-width: 1024px) {
  .nav__smallLogo {
    width: 40px;
  }
}

.introLogo {
  position: relative;
  top: 300px;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  background-image: url("../IMG/Logo contentSize.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.introLogo--onTop {
  top: 0;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

@media (min-width: 800px) {
  .introLogo {
    background-size: 40%;
    background-image: url("../IMG/LogoLargeSize.png");
  }
}

@media (min-width: 1024px) {
  .introLogo {
    background-size: 30%;
  }
}

.header {
  position: relative;
}

.coverH {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: black;
  z-index: 1;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bars__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100px;
  border-top: 1px solid black;
  background-color: #fff;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  overflow: hidden;
  color: #fff;
}

@media (min-width: 800px) {
  .bars__item {
    height: 150px;
    padding: 30px 0px;
  }
}

@media (min-width: 1200px) {
  .bars__item {
    height: 200px;
    padding: 50px 0px;
  }
}

@media (min-width: 1024px) {
  .bars__item:hover {
    background-color: #000;
    color: #fff;
  }
  .bars__item:hover .bars__text {
    z-index: 0;
    color: #222;
  }
}

.bars__text {
  position: relative;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  height: 100px;
  font-size: 6rem;
  margin-right: 50px;
  font-family: 'IM Fell DW Pica';
  -webkit-animation: text 25s linear infinite;
          animation: text 25s linear infinite;
  white-space: pre;
  z-index: 1;
  z-index: 0;
  color: #aaa;
}

@media (min-width: 800px) {
  .bars__text {
    font-size: 10rem;
  }
}

@media (min-width: 1200px) {
  .bars__text {
    font-size: 13rem;
  }
}

@media (min-width: 1024px) {
  .bars__text {
    color: #222;
    z-index: 1;
  }
}

.bars__textUnder {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100px;
  font-size: 3.5rem;
  font-family: 'IM Fell DW Pica';
  white-space: pre;
  margin: 0px auto;
  color: #000;
  text-decoration: none;
}

@media (min-width: 800px) {
  .bars__textUnder {
    font-size: 5rem;
    letter-spacing: 3px;
  }
}

@media (min-width: 1024px) {
  .bars__textUnder {
    color: #fff;
  }
}

@media (min-width: 1200px) {
  .bars__textUnder {
    font-size: 7.5rem;
    letter-spacing: 5px;
  }
}

.bars__text--reverse {
  -webkit-animation: textReverse 25s linear infinite;
          animation: textReverse 25s linear infinite;
  left: 0;
}

@-webkit-keyframes text {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-1500px);
            transform: translateX(-1500px);
  }
  50.1% {
    -webkit-transform: translateX(-1500px);
            transform: translateX(-1500px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes text {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-1500px);
            transform: translateX(-1500px);
  }
  50.1% {
    -webkit-transform: translateX(-1500px);
            transform: translateX(-1500px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes textReverse {
  0% {
    -webkit-transform: translateX(-1500px);
            transform: translateX(-1500px);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50.1% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-1500px);
            transform: translateX(-1500px);
  }
}

@keyframes textReverse {
  0% {
    -webkit-transform: translateX(-1500px);
            transform: translateX(-1500px);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50.1% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-1500px);
            transform: translateX(-1500px);
  }
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 500px;
  background-color: #000;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  overflow: hidden;
}

.gallery__passion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.gallery__text {
  color: white;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "IM Fell DW Pica";
  font-weight: 500;
  height: 100px;
}

.gallery .fas, .gallery .fab {
  font-size: 90px;
  color: #ddd;
}

.gallery__passion {
  -webkit-animation: textGallery 1.5s step-start infinite both;
          animation: textGallery 1.5s step-start infinite both;
}

.gallery__heart {
  -webkit-animation: textGallery 1.5s 1s step-start infinite both;
          animation: textGallery 1.5s 1s step-start infinite both;
  margin: 50px 0px;
}

.gallery__obstinancy {
  -webkit-animation: textGallery 1.5s 1.5s step-start infinite both;
          animation: textGallery 1.5s 1.5s step-start infinite both;
}

.wrapDuplicate {
  display: none;
}

@media (min-width: 800px) {
  .wrapDuplicate {
    display: inherit;
  }
}

.gallery__passion.duplicate {
  position: relative;
  left: -10%;
  -webkit-animation: textGallery 1.7s step-start infinite both;
          animation: textGallery 1.7s step-start infinite both;
}

.gallery__heart.duplicate {
  position: relative;
  left: -215%;
  -webkit-animation: textGallery 1.3s 0.8s step-start infinite both;
          animation: textGallery 1.3s 0.8s step-start infinite both;
}

.gallery__obstinancy.duplicate {
  position: relative;
  left: -5%;
  -webkit-animation: textGallery 1.8s 2s step-start infinite both;
          animation: textGallery 1.8s 2s step-start infinite both;
}

@-webkit-keyframes textGallery {
  0% {
    letter-spacing: 0px;
    text-shadow: 30px 10px #222;
    font-size: 3rem;
    -webkit-transform: translateX(13px);
            transform: translateX(13px);
  }
  10% {
    letter-spacing: 0px;
    text-shadow: 35px 35px #222;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  20% {
    letter-spacing: 2px;
    text-shadow: 45px -55px #222;
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  30% {
    letter-spacing: 5px;
    text-shadow: -55px -25px #222;
    -webkit-transform: translateX(-18px);
            transform: translateX(-18px);
  }
  40% {
    letter-spacing: 6px;
    text-shadow: 45px 65px #222;
    -webkit-transform: translateX(18px);
            transform: translateX(18px);
  }
  50% {
    letter-spacing: 1px;
    text-shadow: -55px 65px #222;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  60% {
    letter-spacing: 2px;
    text-shadow: -25px -75px #222;
    -webkit-transform: translateX(23px);
            transform: translateX(23px);
  }
  70% {
    letter-spacing: 12px;
    text-shadow: 0px -45px #222;
    font-size: 4rem;
    -webkit-transform: translateX(28px);
            transform: translateX(28px);
  }
  80% {
    letter-spacing: 6px;
    text-shadow: 0px 35px #222;
    font-size: 7.5rem;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  90% {
    letter-spacing: 8px;
    text-shadow: -55px 0px #222;
    font-size: 2.5rem;
    -webkit-transform: translateX(-18px);
            transform: translateX(-18px);
  }
  100% {
    letter-spacing: 10px;
    text-shadow: 35px 0px #222;
    font-size: 3.5rem;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes textGallery {
  0% {
    letter-spacing: 0px;
    text-shadow: 30px 10px #222;
    font-size: 3rem;
    -webkit-transform: translateX(13px);
            transform: translateX(13px);
  }
  10% {
    letter-spacing: 0px;
    text-shadow: 35px 35px #222;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  20% {
    letter-spacing: 2px;
    text-shadow: 45px -55px #222;
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  30% {
    letter-spacing: 5px;
    text-shadow: -55px -25px #222;
    -webkit-transform: translateX(-18px);
            transform: translateX(-18px);
  }
  40% {
    letter-spacing: 6px;
    text-shadow: 45px 65px #222;
    -webkit-transform: translateX(18px);
            transform: translateX(18px);
  }
  50% {
    letter-spacing: 1px;
    text-shadow: -55px 65px #222;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  60% {
    letter-spacing: 2px;
    text-shadow: -25px -75px #222;
    -webkit-transform: translateX(23px);
            transform: translateX(23px);
  }
  70% {
    letter-spacing: 12px;
    text-shadow: 0px -45px #222;
    font-size: 4rem;
    -webkit-transform: translateX(28px);
            transform: translateX(28px);
  }
  80% {
    letter-spacing: 6px;
    text-shadow: 0px 35px #222;
    font-size: 7.5rem;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  90% {
    letter-spacing: 8px;
    text-shadow: -55px 0px #222;
    font-size: 2.5rem;
    -webkit-transform: translateX(-18px);
            transform: translateX(-18px);
  }
  100% {
    letter-spacing: 10px;
    text-shadow: 35px 0px #222;
    font-size: 3.5rem;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@media (min-width: 800px) {
  @-webkit-keyframes textGallery {
    0% {
      letter-spacing: 0px;
      text-shadow: 60px 20px #222;
      font-size: 5rem;
      -webkit-transform: translateX(288px);
              transform: translateX(288px);
      opacity: 1;
    }
    10% {
      letter-spacing: 0px;
      text-shadow: 70px 70px #222;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      opacity: 0.7;
    }
    20% {
      letter-spacing: 2px;
      text-shadow: 90px -110px #222;
      -webkit-transform: translateX(136px);
              transform: translateX(136px);
      opacity: 0;
    }
    30% {
      letter-spacing: 5px;
      text-shadow: -110px -50px #222;
      -webkit-transform: translateX(-254px);
              transform: translateX(-254px);
      opacity: 1;
    }
    40% {
      letter-spacing: 6px;
      text-shadow: 90px 130px #222;
      -webkit-transform: translateX(264px);
              transform: translateX(264px);
      opacity: 0.4;
    }
    50% {
      letter-spacing: 1px;
      text-shadow: -110px 130px #222;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      opacity: 1;
    }
    60% {
      letter-spacing: 2px;
      text-shadow: -50px -150px #222;
      -webkit-transform: translateX(332px);
              transform: translateX(332px);
      opacity: 0.5;
    }
    70% {
      letter-spacing: 12px;
      text-shadow: 0px -90px #222;
      font-size: 7rem;
      -webkit-transform: translateX(400px);
              transform: translateX(400px);
      opacity: 0.9;
    }
    80% {
      letter-spacing: 6px;
      text-shadow: 0px 70px #222;
      font-size: 13rem;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      opacity: 1;
    }
    90% {
      letter-spacing: 8px;
      text-shadow: -110px 0px #222;
      font-size: 4rem;
      -webkit-transform: translateX(-264px);
              transform: translateX(-264px);
      opacity: 0.3;
    }
    100% {
      letter-spacing: 10px;
      text-shadow: 70px 0px #222;
      font-size: 6rem;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      opacity: 1;
    }
  }
  @keyframes textGallery {
    0% {
      letter-spacing: 0px;
      text-shadow: 60px 20px #222;
      font-size: 5rem;
      -webkit-transform: translateX(288px);
              transform: translateX(288px);
      opacity: 1;
    }
    10% {
      letter-spacing: 0px;
      text-shadow: 70px 70px #222;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      opacity: 0.7;
    }
    20% {
      letter-spacing: 2px;
      text-shadow: 90px -110px #222;
      -webkit-transform: translateX(136px);
              transform: translateX(136px);
      opacity: 0;
    }
    30% {
      letter-spacing: 5px;
      text-shadow: -110px -50px #222;
      -webkit-transform: translateX(-254px);
              transform: translateX(-254px);
      opacity: 1;
    }
    40% {
      letter-spacing: 6px;
      text-shadow: 90px 130px #222;
      -webkit-transform: translateX(264px);
              transform: translateX(264px);
      opacity: 0.4;
    }
    50% {
      letter-spacing: 1px;
      text-shadow: -110px 130px #222;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      opacity: 1;
    }
    60% {
      letter-spacing: 2px;
      text-shadow: -50px -150px #222;
      -webkit-transform: translateX(332px);
              transform: translateX(332px);
      opacity: 0.5;
    }
    70% {
      letter-spacing: 12px;
      text-shadow: 0px -90px #222;
      font-size: 7rem;
      -webkit-transform: translateX(400px);
              transform: translateX(400px);
      opacity: 0.9;
    }
    80% {
      letter-spacing: 6px;
      text-shadow: 0px 70px #222;
      font-size: 13rem;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      opacity: 1;
    }
    90% {
      letter-spacing: 8px;
      text-shadow: -110px 0px #222;
      font-size: 4rem;
      -webkit-transform: translateX(-264px);
              transform: translateX(-264px);
      opacity: 0.3;
    }
    100% {
      letter-spacing: 10px;
      text-shadow: 70px 0px #222;
      font-size: 6rem;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      opacity: 1;
    }
  }
}

.footer {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #000;
  text-align: center;
  border-top: 1px solid #222;
}

.footer__text {
  font-family: "IM Fell DW Pica";
  color: white;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

@media (min-width: 800px) {
  .footer__text {
    font-size: 1.7rem;
    letter-spacing: 3px;
  }
}

.footer__img {
  width: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 800px) {
  .footer__img {
    width: 40px;
  }
}

.contact {
  margin-top: 75px;
  opacity: 0;
  -webkit-transition: 2s;
  transition: 2s;
  overflow-x: hidden;
}

@media (min-width: 1200px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.contact--showIt {
  opacity: 1;
}

.bars__itemContact {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100px;
  border-top: 1px solid black;
  background-color: #fff;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  overflow: hidden;
  background-color: #000;
  width: 100%;
}

@media (min-width: 800px) {
  .bars__itemContact {
    height: 150px;
    padding: 30px 0px;
  }
}

@media (min-width: 1200px) {
  .bars__itemContact {
    height: 200px;
    padding: 50px 0px;
  }
}

.bars__textContact {
  position: relative;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  height: 100px;
  font-size: 6rem;
  margin-right: 50px;
  font-family: 'IM Fell DW Pica';
  -webkit-animation: text 25s linear infinite;
          animation: text 25s linear infinite;
  white-space: pre;
  z-index: 1;
  color: #fff;
}

@media (min-width: 800px) {
  .bars__textContact {
    font-size: 10rem;
  }
}

@media (min-width: 1200px) {
  .bars__textContact {
    font-size: 13rem;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 275px;
  position: relative;
  right: -100%;
  margin: 30px auto 0px;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 1;
  background-color: black;
}

.form--onPosition {
  right: 0;
}

@media (min-width: 460px) {
  .form {
    width: 400px;
  }
}

@media (min-width: 640px) {
  .form {
    width: 500px;
  }
}

@media (min-width: 1024px) {
  .form {
    width: 700px;
  }
}

@media (min-width: 1200px) {
  .form {
    width: 49vw;
  }
}

.form__label {
  width: 100%;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 500;
  font-family: "IM Fell DW Pica";
}

@media (min-width: 1200px) {
  .form__label {
    width: 80%;
  }
}

.form__input {
  width: 100%;
  height: 40px;
  margin-top: 3px;
  margin-bottom: 20px;
  border-radius: 3px;
  border: none;
  padding-left: 5px;
  font-size: 1.6rem;
}

.form__textArea {
  width: 100%;
  border-radius: 5px;
  height: 175px;
  padding: 5px;
  font-size: 1.6rem;
}

.form__btnContainer {
  position: relative;
  width: 100%;
  height: 200px;
}

.form__btnContainer .form__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 175px;
  height: 45px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: none;
  background-color: transparent;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  z-index: 1;
  outline: none;
}

.form__btnContainer .form__btnCopy {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 175px;
  height: 45px;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
  border: 1px solid #aaa;
  background-color: #222;
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  outline: none;
}

.form__btnContainer .form__btnCopy2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 175px;
  height: 45px;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
  border: 1px solid #aaa;
  background-color: #222;
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  outline: none;
}

@media (min-width: 1024px) {
  .form__btn:hover ~ .form__btnCopy {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
    background-color: transparent;
  }
}

@media (min-width: 1024px) {
  .form__btn:hover ~ .form__btnCopy2 {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
    background-color: transparent;
  }
}

.contact__textWrap {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 35px;
}

.contact__textWrap h2:nth-child(1) {
  margin-bottom: 20px;
}

.contact__textWrap .contact__text {
  width: 275px;
  margin: 40px auto;
  font-weight: 500;
  font-family: "IM Fell DW Pica";
  line-height: 20px;
  color: white;
  text-align: justify;
}

@media (min-width: 640px) {
  .contact__textWrap .contact__text {
    width: 500px;
    font-size: 2rem;
    letter-spacing: 1.5px;
  }
}

@media (min-width: 1024px) {
  .contact__textWrap .contact__text {
    width: 700px;
    font-size: 2rem;
    letter-spacing: 2px;
    line-height: 25px;
  }
}

@media (min-width: 1200px) {
  .contact__textWrap .contact__text {
    width: 80%;
    margin: 0 auto;
  }
}

.platform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 300px;
  text-align: center;
  margin: 50px auto 75px auto;
}

.platform__img {
  width: 50px;
  background-color: #aaa;
  margin: 0px 10px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.platform__img--linkedUp {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
  background-color: #fff;
}

.platform__img--gitHubUp {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
  background-color: #fff;
}

.platform__img--instaUp {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
  background-color: #fff;
}

@media (min-width: 1024px) {
  .platform__img:hover {
    background-color: #fff;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

.contact__wrapContactToMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  right: -100%;
  opacity: 0;
  -webkit-transition: right 1s, opacity 2s ease;
  transition: right 1s, opacity 2s ease;
}

.contact__wrapContactToMe--onPosition {
  right: 0;
  opacity: 1;
}

@media (min-width: 1200px) {
  .contact__wrapContactToMe {
    width: 50vw;
  }
}

.contactDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 40px;
}

.contactDetails__email, .contactDetails__phone {
  position: relative;
  top: -40px;
  color: white;
  font-size: 2rem;
  font-family: "IM Fell DW Pica";
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 10px;
  opacity: 1;
}

.contactDetails__emailIcon, .contactDetails__phoneIcon {
  width: 50px;
  background-color: #fff;
  margin: 0px auto;
  border-radius: 10px;
  opacity: 0.2;
}

.about {
  margin-top: 75px;
  opacity: 0;
  -webkit-transition: 2s;
  transition: 2s;
}

.about--showIt {
  opacity: 1;
}

.aboutMWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.aboutM--start .aboutM__text--start {
  text-align: center;
}

.aboutM {
  position: relative;
  top: 0;
  padding: 0 45px;
  margin: 100px 0px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

@media (min-width: 460px) {
  .aboutM {
    padding: 0 55px;
  }
}

@media (min-width: 1024px) {
  .aboutM {
    margin: 25px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.aboutM__headingContainer {
  position: relative;
  width: 100%;
  height: 50px;
}

@media (min-width: 1024px) {
  .aboutM__headingContainer {
    -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
            clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    background-color: #000;
    width: 500px;
    height: 500px;
    margin: auto;
    background: linear-gradient(45deg, #333333 0%, #222222 100%);
    z-index: 1;
  }
  .aboutM__headingContainer:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg);
    background-color: #111;
    width: 415px;
    height: 415px;
    -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
            clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    z-index: -1;
    -webkit-animation: bigger 15s linear infinite;
            animation: bigger 15s linear infinite;
  }
  .aboutM__headingContainer:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: black;
    width: 495px;
    height: 495px;
    -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
            clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    z-index: 0;
  }
}

.aboutM__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  width: 50px;
  opacity: 0.1;
  margin: 0 auto;
}

.aboutM__title {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
  letter-spacing: 15px;
  font-size: 4rem;
  font-family: "IM Fell DW Pica";
  color: #222;
  white-space: pre;
}

@media (min-width: 460px) {
  .aboutM__title {
    font-size: 5rem;
  }
}

@media (min-width: 1024px) {
  .aboutM__title {
    top: 40%;
    left: 50%;
    font-size: 6rem;
    -webkit-animation: none;
            animation: none;
    letter-spacing: 14px;
  }
}

.aboutM__titleFront {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 2rem;
  font-family: "IM Fell DW Pica";
  color: white;
  white-space: pre;
}

@media (min-width: 460px) {
  .aboutM__titleFront {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  .aboutM__titleFront {
    top: 50%;
    left: 50%;
    font-size: 5rem;
    -webkit-animation: none;
            animation: none;
  }
}

.aboutM__text {
  color: white;
  line-height: 20px;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Nanum Gothic", sans-serif;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 460px) {
  .aboutM__text {
    font-size: 1.8rem;
    line-height: 25px;
  }
}

@media (min-width: 1024px) {
  .aboutM__text {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.aboutM__text strong a {
  letter-spacing: 5px;
  color: #ddd;
  cursor: pointer;
  margin-left: 5px;
  font-family: "IM Fell DW Pica";
  font-size: 1.7rem;
  text-decoration: none;
}

@media (min-width: 640px) {
  .aboutM__text strong a {
    font-size: 2rem;
  }
}

.aboutM__text .aboutM__hi {
  display: block;
  font-size: 3rem;
  margin-bottom: 8px;
}

@media (min-width: 800px) {
  .aboutM__text .aboutM__hi {
    font-size: 4rem;
  }
}

@media (min-width: 1024px) {
  .aboutM__text .aboutM__hi {
    font-size: 5rem;
    margin-bottom: 12px;
  }
}

.bars__itemAbout {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100px;
  border-top: 1px solid black;
  background-color: #fff;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  overflow: hidden;
  background-color: #000;
}

@media (min-width: 800px) {
  .bars__itemAbout {
    height: 150px;
    padding: 30px 0px;
  }
}

@media (min-width: 1200px) {
  .bars__itemAbout {
    height: 200px;
    padding: 50px 0px;
  }
}

.bars__textAbout {
  position: relative;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  height: 100px;
  font-size: 6rem;
  margin-right: 50px;
  font-family: 'IM Fell DW Pica';
  -webkit-animation: text 25s linear infinite;
          animation: text 25s linear infinite;
  white-space: pre;
  z-index: 1;
  color: #fff;
}

@media (min-width: 800px) {
  .bars__textAbout {
    font-size: 10rem;
  }
}

@media (min-width: 1200px) {
  .bars__textAbout {
    font-size: 13rem;
  }
}

.navigationAbout {
  position: fixed;
  top: 50%;
  right: -25px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50px;
}

@media (min-width: 800px) {
  .navigationAbout {
    right: 5px;
  }
}

.navigationAbout__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style-type: none;
}

.navigationAbout__listItem {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: #333;
  margin: 15px auto;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  cursor: pointer;
}

@media (min-width: 800px) {
  .navigationAbout__listItem {
    width: 25px;
    height: 25px;
  }
}

@media (min-width: 1024px) {
  .navigationAbout__listItem:hover {
    background-color: #aaa;
    border: 1px black solid;
  }
}

.navigationAbout__listItem--active {
  background-color: #aaa;
  border: 1px black solid;
}

@-webkit-keyframes bigger {
  0% {
    width: 415px;
    height: 415px;
  }
  50% {
    width: 600px;
    height: 600px;
  }
  100% {
    width: 415px;
    height: 415px;
  }
}

@keyframes bigger {
  0% {
    width: 415px;
    height: 415px;
  }
  50% {
    width: 600px;
    height: 600px;
  }
  100% {
    width: 415px;
    height: 415px;
  }
}

.technology {
  margin-top: 75px;
  opacity: 0;
  -webkit-transition: 2s;
  transition: 2s;
}

.technology--showIt {
  opacity: 1;
}

.bars__itemTechnology {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100px;
  border-top: 1px solid black;
  background-color: #fff;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  overflow: hidden;
  background-color: #000;
}

@media (min-width: 800px) {
  .bars__itemTechnology {
    height: 150px;
    padding: 30px 0px;
  }
}

@media (min-width: 1200px) {
  .bars__itemTechnology {
    height: 200px;
    padding: 50px 0px;
  }
}

.bars__textTechnology {
  position: relative;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  height: 100px;
  font-size: 6rem;
  margin-right: 50px;
  font-family: 'IM Fell DW Pica';
  -webkit-animation: text 25s linear infinite;
          animation: text 25s linear infinite;
  white-space: pre;
  z-index: 1;
  color: #fff;
}

@media (min-width: 800px) {
  .bars__textTechnology {
    font-size: 10rem;
  }
}

@media (min-width: 1200px) {
  .bars__textTechnology {
    font-size: 13rem;
  }
}

.portfolio {
  margin-top: 75px;
  opacity: 0;
  -webkit-transition: 2s;
  transition: 2s;
  overflow: hidden;
}

.portfolio--showIt {
  opacity: 1;
}

.bars__itemPortfolio {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100px;
  border-top: 1px solid black;
  background-color: #fff;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  overflow: hidden;
  background-color: #000;
}

@media (min-width: 800px) {
  .bars__itemPortfolio {
    height: 150px;
    padding: 30px 0px;
  }
}

@media (min-width: 1200px) {
  .bars__itemPortfolio {
    height: 200px;
    padding: 50px 0px;
  }
}

.bars__textPortfolio {
  position: relative;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  height: 100px;
  font-size: 6rem;
  margin-right: 50px;
  font-family: 'IM Fell DW Pica';
  -webkit-animation: text 25s linear infinite;
          animation: text 25s linear infinite;
  white-space: pre;
  z-index: 1;
  color: #fff;
}

@media (min-width: 800px) {
  .bars__textPortfolio {
    font-size: 10rem;
  }
}

@media (min-width: 1200px) {
  .bars__textPortfolio {
    font-size: 13rem;
  }
}

.worksContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1100px;
  margin: 50px auto;
  padding: 50px 0px;
}

@media (min-width: 640px) {
  .worksContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.work {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
          clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  width: 290px;
  height: 290px;
  margin: 0px auto 30px;
  background-color: #444;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

@media (min-width: 640px) {
  .work {
    width: 340px;
    height: 340px;
  }
}

@media (min-width: 1024px) {
  .work:hover {
    background: #fff;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

.work::before {
  content: '';
  position: absolute;
  top: 0.8%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
          clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  width: 285px;
  height: 285px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 640px) {
  .work::before {
    width: 335px;
    height: 335px;
  }
}

.work__trainer::before {
  background-image: url("../IMG/trainerSite.png");
}

.work__kyokushin::before {
  background-image: url("../IMG/kyokushinSite.png");
}

.work__christmas::before {
  background-image: url("../IMG/christmas.png");
  background-position: center;
}

.work__cvVol1::before {
  background-image: url("../IMG/cvOnline.png");
}

.work__cvVol2::before {
  background-image: url("../IMG/cvOnline2.png");
}

.work__trainer {
  top: 2000px;
  left: -2000px;
  -webkit-transition: top 1s,left 1s, -webkit-transform 0.2s;
  transition: top 1s,left 1s, -webkit-transform 0.2s;
  transition: top 1s,left 1s, transform 0.2s;
  transition: top 1s,left 1s, transform 0.2s,-webkit-transform 0.2s;
}

.work__kyokushin {
  top: 2000px;
  left: 0;
  -webkit-transition: top 1s,left 1s, -webkit-transform 0.2s;
  transition: top 1s,left 1s, -webkit-transform 0.2s;
  transition: top 1s,left 1s, transform 0.2s;
  transition: top 1s,left 1s, transform 0.2s,-webkit-transform 0.2s;
}

.work__christmas {
  top: 2000px;
  left: 2000px;
  -webkit-transition: top 1s,left 1s, -webkit-transform 0.2s;
  transition: top 1s,left 1s, -webkit-transform 0.2s;
  transition: top 1s,left 1s, transform 0.2s;
  transition: top 1s,left 1s, transform 0.2s,-webkit-transform 0.2s;
}

.work__cvVol1 {
  top: 2000px;
  left: -1000px;
  -webkit-transition: top 1s,left 1s, -webkit-transform 0.2s;
  transition: top 1s,left 1s, -webkit-transform 0.2s;
  transition: top 1s,left 1s, transform 0.2s;
  transition: top 1s,left 1s, transform 0.2s,-webkit-transform 0.2s;
}

.work__cvVol2 {
  top: 2000px;
  left: 1000px;
  -webkit-transition: top 1s, left 1s, -webkit-transform 0.2s;
  transition: top 1s, left 1s, -webkit-transform 0.2s;
  transition: top 1s, left 1s, transform 0.2s;
  transition: top 1s, left 1s, transform 0.2s, -webkit-transform 0.2s;
}

.work--onPosition {
  top: 0;
  left: 0;
}

.work__text {
  position: relative;
  letter-spacing: 3px;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  font-family: "IM Fell DW Pica";
  color: #fff;
  z-index: 1000;
  text-align: center;
}

@media (min-width: 1024px) {
  .work__text {
    font-size: 2.5rem;
  }
}

.cover {
  -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
          clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 285px;
  height: 285px;
  background: linear-gradient(-45deg, black 40%, black 100%);
  z-index: 999;
  line-height: 285px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

@media (min-width: 640px) {
  .cover {
    width: 335px;
    height: 335px;
    line-height: 335px;
  }
}

@media (min-width: 1024px) {
  .cover:hover {
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */